.metadata\.log
.metadata\.me_tcat\webapps\webdemo01\META-INF\maven\webdemo01\webdemo01\pom.properties
.metadata\.me_tcat\webapps\webdemo01\META-INF\maven\webdemo01\webdemo01\pom.xml

*.snap
*.snap
.metadata/.plugins/com.genuitec.eclipse.templates/velocity.log
.metadata/.plugins/org.eclipse.core.resources/.projects/webdemo01/.indexes/e4/b9/b3/6e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/webdemo01/.indexes/e4/b9/b3/a8/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/webdemo01/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/webdemo01/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.index
.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/2505293774.index
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4144385623.index
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
webdemo01/target/m2e-jee/web-resources/META-INF/maven/webdemo01/webdemo01/pom.properties
.metadata/.plugins/org.eclipse.m2e.core/nexus/d9d714e11cb097b3ffcec91cccc65d3e/segments_5
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.team.cvs.ui/commitCommentHistory.xml
.metadata/.me_tcat/webapps/webdemo01/META-INF/maven/webdemo01/webdemo01/pom.properties
.metadata/.me_tcat/webapps/webdemo01/META-INF/maven/webdemo01/webdemo01/pom.xml
.metadata/.me_tcat/webapps/webdemo01/views/scriptlet.jsp
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.derby.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.examples.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.maven.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.easie.tomcat.myeclipse.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/2527753156.dat
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/3316195771.translator
.metadata/.plugins/org.eclipse.m2e.core/nexus/2da3096ea23762bced533c06cf1ea632/_i.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/2da3096ea23762bced533c06cf1ea632/_a_3.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/2da3096ea23762bced533c06cf1ea632/segments_j
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_3.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_8
.metadata/.plugins/org.eclipse.m2e.core/nexus/d9d714e11cb097b3ffcec91cccc65d3e/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/d9d714e11cb097b3ffcec91cccc65d3e/_2_1.del
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.myeclipse.compatibility.prefs
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Utils/.classpath
Utils/target/classes/META-INF/maven/com.slp/Utils/pom.properties
*.properties
Web-back/target
.metadata/.log
MergeDemo/target
MergeDemo/target
ActiveMQ-Spring/.idea
ActiveMQ-Spring/out
ActiveMq01/.idea
MergeDemo/.idea
spring-tutorial/.idea
springapp/.idea
ActiveMQ-Spring/target
springapp/out
Utils/target/classes/META-INF/maven/com.slp/Utils/pom.xml
Web-back/.idea/compiler.xml
Web-back/.idea/inspectionProfiles/Project_Default.xml
Web-back/.idea/workspace.xml
Web-back/.idea/modules.xml
spring-email/.settings/org.eclipse.wst.common.project.facet.core.xml
